* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato,sans-serif;
}

.NavbarItems{
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 20;
}

.NavbarItems .InternalNavbarItems{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}

.InternalNavbarItems{
    max-width: 1010px;
    margin: auto;
    padding: 0 15px;
    position: relative;
}

.NavbarItems .NavbarValues{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 168px);
}

.NavbarItems .NavbarValuesP1{
    display: flex;
    align-items: center;
}

.NavbarValuesP1{
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.NavbarValues .NavbarValuesP2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.NavBarLogo{
    color : #222;
    font-size: 2rem;
    cursor: pointer;
}

.Nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #798798;
}


.nav-links:hover{
    color: #4a90e2;
}

.nav-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #4a90e2;
}

.nav-link i{
    font-size: 16px;
    color: #2f435a;
    transition: .4s;
    cursor: pointer;
}

.nav-links-mobile{
    display : none;
}

button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #222;
    color: #fff;
}


