.footer{
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
    width:100%;
    background-color: white;
    color: black;
}

.line{
    width: 100%;
    height: 2px;
    background-color: rgba(200, 190, 190, 0.472);
    margin-bottom : 1rem;
}




.footerDown{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerDown div{
    display: flex;
    flex-direction: column;
}

.footerDown h4{
    font-size: 1.3rem;
    padding: 1rem 0 .8rem 0;
}

.footerDown a{
    text-decoration: none;
    color: black;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}

@media screen and (max-width : 750px) {
    .footer{
        padding : 4rem 2rem;
    }

    .footer i{
        margin: 1rem 1rem 0 0;
    }

    .footerDown div{
        width : 50%;
    }
}